
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>signup</title>

<link href="http://183.182.84.84/speercity/stylesheet.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" >

function save(){
	$('#id_member_creation').submit();
}

</script>
<style type="text/css">
 #id_date{
	background:url(images/d.o.b_bg.png) no-repeat !important;
	width:62px !important;
	height:22px !important;
}
 #id_month{
	background:url(images/d.o.b_bg.png) no-repeat !important;
	width:62px !important;
	height:22px !important;
}
 #id_year{
	background:url(images/d.o.b_bg.png) no-repeat !important;
	width:62px !important;
	height:22px !important;
}
</style>
</head>



<body>

<!--Wrapper Start Here-->

<div id="wrap">

<div id="signin">

<div class="signup_top"></div>

<div class="signup_mid">

	<div class="signup_head">

    <h2>New SpreeCity Members Sign Up</h2>
    <div class="close-btn"></div>

    </div>

    <div class="signup_content"> 	<div style="color:green;">{{error }}</div>We are currently in Beta. All signups are by-invite only.<br/><br/>If you wish to receive follow your favourite brands or receive exclusive 

privileges, request for an invite.<br/>

	<p>Are you representing a brand?</p>

    <a href="#" class="fl">Get your corporate account here.</a> <!--<span class="fl"><a href="#">Learn more</a></span>-->



</div>
		
     <div class="form">
					
              <form action="." method="post" name="member_creation" id="id_member_creation">{% csrf_token %}

                <div class="field required">

                  <label for="DisplayName">{{ form.first_name.label }}</label>

                 {{ form.first_name}}

                </div>

                

                <div class="field required">

                  <label for="DisplayName" class="fl">{{ form.last_name.label }}</label>

                 {{ form.last_name }}

                </div>

                

                <div class="field required">

                  <label for="DisplayName" class="fl">{{ form.country.label }} </label>

                  {{ form.country }}

                </div>

                

                <div class="field required">

                  <label for="DisplayName" class="fl">{{ form.city.label }} </label>

                 {{ form.city }}

                </div>

                

                <div class="field required">

                  <label for="DisplayName" class="fl">{{ form.email.label }}  </label>

				{{ form.email }}

                </div>

                

                <div class="field required">

                  <label for="DisplayName" class="fl">{{ form.password.label }}</label>

                 {{ form.password }}

                </div>

                

                <div class="field required">

                  <label for="DisplayName" class="fl">{{ form.confirm_password.label }}</label>

				{{ form.confirm_password }}

                </div>

                <div>

                 <div class="field required fl dob_label">

                  <label for="DisplayName" class="fl dob_label">   {{ form.date.label  }} </label>

                  {{ form.date  }}

                </div>

                <div class="field required fl dob_label">

                  <label for="DisplayName" class="fl dob_label">   {{ form.month.label  }}</label>
					{{ form.month  }}

                </div>

                <div class="field required fl dob_label" >

                  <label for="DisplayName" class="fl dob_label">{{ form.year.label  }} </label>

                 {{ form.year  }}


                </div>

                <p style="clear:both;"></p>

                </div>

                 <div class="field required">

                  <label for="DisplayName" class="fl gender">gender </label>
	
                  <img src="http://183.182.84.84/speercity/images/gender.png" alt="" class="fl gender_img" />

                </div>
					
					<div class="signup-btn clr">

            <input type="submit" value="" name="bntSave" id="bntSave" onclick="javascipt:save();" title="click here to sign up" />

            </div>

			</form>

            
	</div>            

</div>

<div class="signup_btm"></div>

</div>

</div>

<!--Wrapper End Here-->

</body>

</html>

