
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Partner's Sign Up</title>

<link href="http://183.182.84.84/speercity/stylesheet.css" rel="stylesheet" type="text/css" />

</head>



<body>

<!--Wrapper Start Here-->

<div id="wrap1">

<div id="signupprocess">

<div class="signupprocess_top"></div>

<div class="signupprocess_mid">

	<div class="signupprocess_head">

    <h2>Partner's Sign Up</h2>

    <div class="close-btn"></div>

    </div><span class="clr"></span>
		
    <!--nav start-->
		
    <div class="signupprocess_nav">

    <ul>

    <li><a href="#" class="selected">Information</a></li>

    <li><a href="#"> Account</a></li>

    <li><a href="#">Plan Selection</a></li>

    <li><a href="#">Billing Info</a></li>

    <li class="last"><a href="#">Confirmation</a></li>

    </ul>

    </div>

    <!--nav end-->

   

     <div class="informationform">

              <form action="." method="post" name="partner_creation" id="id_partner_creation">{% csrf_token %}

					<div style="color:green;">{{error }}</div> 
              <div class="leftinformationform fl">

              <p class="signupprocess_content">COMPANY INFORMATION <span>(not visible to public)</span></p>

                <div class="field required fl">

                  <label for="DisplayName">{{ form.company_name.label }} 	</label>

                  {{ form.company_name }}

                </div>

                

                <div class="field formrequired">

                  <label for="DisplayName" class="fl">{{ form.company_country.label }} </label>

                   {{ form.company_country }}

                </div>

                <p class="signupprocess_content fl">BUSINESS INFORMATION <span>(visble to public)</span>



</p>



                 <div class="field formrequired fl">

                  <label for="DisplayName">{{ form.business_name.label }}</label>

                 {{ form.business_name }}

                </div>

                

                 <div class="field formrequired">

                  <label for="DisplayName" class="fl">{{ form.business_type.label }} </label>

                  {{ form.business_type }}

                </div>

                

                 <div class="field formrequired fl">

                  <label for="DisplayName">{{ form.business_description.label }}	</label>

                 {{ form.business_description }}
                </div>

                

                </div>

                

                <div class="rightinformationform fr">

                

                 <div class="field formrequired">

                  <label for="DisplayName" class="fl">{{ form.mailling_address.label }} </label>

                  {{ form.mailling_address }}
                </div>

                

                 <div class="field formrequired">

                  <label for="DisplayName" class="fl">{{ form.zipcode.label }} </label>

                 {{ form.zipcode }}
                </div>

                

                <div class="field formrequired">

                  <label for="DisplayName" class="fl">{{ form.country.label }} </label>

                  {{ form.country }}

                </div>

                

                <div class="field formrequired">

                  <label for="DisplayName" class="fl">{{ form.state.label }} </label>

                  {{ form.state }}

                </div>

               

                <div class="field formrequired">

                  <label for="DisplayName" class="fl">{{ form.city.label }}</label>

                  {{ form.city }}

                </div>

              

                <p style="clear:both;"></p>

                </div>

                 <div class="field formrequired">

                  <label for="DisplayName" class="fl yesno">I would like to receive updates from SpreeCity. </label>

                  <img src="http://183.182.84.84/speercity/images/yesno.png" alt="" class="fl yesno_img" />

                </div>
					
					<div class="next-btn clr">

            <input type="submit" value="" title="click here to next" />

            </div>

			</form>

            
	</div>            

</div>

<div class="signupprocess_btm"></div>

</div>

</div>

<!--Wrapper End Here-->

</body>

</html>

