<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>signin</title>

<link href="http://183.182.84.84/speercity/stylesheet.css" rel="stylesheet" type="text/css" />

</head>



<body>

<form action="." method="post" id="login-form">{% csrf_token %}
<!--Wrapper Start Here-->

<div id="wrap">

<div id="signin">

<div class="signin_top"></div>

<div class="signin_mid">

	<div class="sign_in_head">

    <h2>SpreeCity Members Login</h2>

    <div class="close-btn"></div>

    </div>

    <div class="signin_content">Glad you are back! Log in to follow your favourite brands stories and get those new privileges now!</div>

     <div class="form">

              <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                <div class="field required">

                  <label for="DisplayName">{{ form.username.label }}</label>

				{{ form.username }}

                </div>

                

                <div class="field required">

                  <label for="DisplayName" class="fl">{{ form.password.label }} </label><label for="DisplayName" class="fl"><a href="#">I forgot my password</a> </label>

                  {{ form.password }}

                </div>

                 <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="/admin/" />

                <div class="field required">

                  <input type="radio" class="validate[required] checkbox" name="terms" id="terms"/>

                  remember me

               </div>   

			

            <div class="signin-btn">

            <input type="submit" value="" title="click here to sign in" />

            </div>
</form>
	</div>            

</div>

<div class="signin_btm"></div>

</div>

</div>

<!--Wrapper End Here-->
</form>
</body>

</html>
